<!DOCTYPE html>
<html>

    <head>

        <title> Welcome </title>
        <link rel="stylesheet" href="styel.css">

    </head>

    <body>

            <div class="intro-form">

                <hr>

                <img src="person-icon.png">
                <h1> Welcome </h1>


                <form  method="GET" action="/login">
                    <input type="submit" class="intro-in" value="Sgin In" >
                </form>

                <form  method="GET" action="/register">
                    <input type="submit" class="intro-up" value="Sgin Up" >
                </form>

            </div>

    </body>