<!DOCTYPE html>
<html>

    <head>

        <title> Signin </title>
        <link rel="stylesheet" href="styel.css">

    </head>

    <body>

            <div class="sign-in-form">

                <hr>

                <img src="person-icon.png">
                <h1> Sign In  </h1>

                <form id="user-login" method="POST" action="/login">


                    <input type="text" name="email" class="input-box" placeholder=" Email">
                    <input type="password" name="password" class="input-box" placeholder=" Password">

                    <input type="submit" value="Sign in" class="signin-btn">

                </form>

            </div>

    </body>


















</html>