<!DOCTYPE html>
<html>

    <head>

        <title> Siginup </title>
        <link rel="stylesheet" href="styel.css">

    </head>

    <body>

            <div class="sign-up-form">

                <hr>

                <img src="person-icon.png">
                <h1> Sigin Up </h1>

                <form id="user-register" method="POST" action="/register">

                    <input type="text" name="name" class="input-box" placeholder="Username">
                    <input type="text" name="phone" class="input-box" placeholder=" Phone Number">
                    <input type="email" name="email" class="input-box" placeholder=" Email">
                    <input type="password" name="password" class="input-box" placeholder=" Password">

                    <input type="submit" value="Sign up" class="Siginup-btn">

                </form>

            </div>

    </body>